*{
	@include box-sizing(border-box);
}

html{
	position : relative;
	width    : 100%;
	height   : auto;
	margin   : 0;
	padding  : 0;
}

body{
	position : relative;
	width    : 100%;
	height   : auto;
	overflow : hidden; 
}

#app{
	position   : relative;
	width      : 100%;
	height     : auto;
	min-height : 100%;

	@include clear-fix();
}

main{
	display  : block;
	position : relative;
	width    : 100%;
	height   : auto;

	@include clear-fix();
}