*{
	@include box-sizing(border-box);
	font-family: $defaultFont;
}

html{
	position : relative;
	width    : 100%;
	height   : auto;
	margin   : 0;
	padding  : 0;
}

body{
	position : relative;
	width    : 100%;
	height   : auto;
	overflow : hidden; 
	margin   : 0;
}

#app{
	position   : relative;
	width      : 100%;
	height     : auto;
	min-height : 100%;

	@include clear-fix();
}

main{
	display     : block;
	position    : relative;
	width       : 100%;
	height      : auto;
	padding-top : $navBarHeight;

	@include clear-fix();
}