$pink          : #ef8389;
$darkerPink    : #f58085;
$pinkHighlight : #f88a91;
$red           : #E2272C;
$white         : #ffffff;
$mainBg        : #f8f5f9;
$gray          : #bbb8b6;
$darkGray      : #555555;
$breakline     : #bababb;
$black         : #000000;
$inputColor    : rgba($gray, 0.1);
$submitColor   : rgba($red,0.5);