.list-container{
	position: relative;
	width: 100%;
	height: 100%;
	overflow:auto;
	-webkit-overflow-scrolling : touch;
	margin: 0;
	padding: 0;
	list-style: none;


	.list-item{
		position: relative;
		width: 100%;
		@include clear-fix();
		padding: 0;
		margin:0;
		list-style: none;
	}
}