@import 'burgermenu.scss';

$navTrainerImgSize : 24px;

nav{
	position         : absolute;
	top              : 0;
	left             : 0;
	width            : 100%;
	height           : $navBarHeight;
	background-color : $pink;
	z-index          : 9999;

	@include flex-block();

	&.transparent{
		background-color: rgba( $darkGray, .5 );
	}

	.title{
		position       : relative;
		margin         : 0;
		font-size      : $sizeXSmall;
		color          : $white;
		text-transform : uppercase;
	}
}


nav .left{

	position     : relative;
	width        : 32px;
	padding-left : 5px;
	cursor       : pointer;

	@include flex-block();
	@include align-items(center);
	@include justify-content(flex-start);
}

nav .middle{
	position : relative;
	width    : 100%;

	@include flex-block();
	@include align-items(center);
	@include justify-content(center);
}

nav .right{
	position     : relative;
	width        : 32px;
	padding-left : 5px;
	cursor       : pointer;

	@include flex-block();
	@include align-items(center);
	@include justify-content(flex-end);
}

nav .background-image{
	position            : relative;
    width               : $navTrainerImgSize;
    height              : $navTrainerImgSize;
    background-size     : contain;
    background-repeat   : no-repeat;
    background-position : center;
}

/* Media queries */
@media screen and (max-width:$mobileWidth){
	nav{
		position: fixed;
	}
}
