@import 'burgermenu.scss';

$navPaneWidth      : 33.333%;
$navTrainerImgSize : 32px;

nav{
	position         : fixed;
	top              : 0;
	left             : 0;
	width            : 100%;
	height           : $navBarHeight;
	background-color : $pink;

	@include flex-block();

	.title{
		position  : relative;
		margin    : 0;
		font-size : $sizeLarge;
		color     : $white;
	}
}

nav .left,
nav .middle,
nav .right{
	position : relative;
	width    : $navPaneWidth;
	height   : 100%;

	@include flex-block();
	@include align-items(center);
	@include flex-grow(1);
}

nav .left{
	@include justify-content(flex-start);
	padding-left : 20px;
}

nav .middle{
	@include justify-content(center);
	padding: 0 20px;
}

nav .right{
	@include justify-content(flex-end);
	padding-right : 20px;
}

nav .background-image{
	position            : relative;
    width               : $navTrainerImgSize;
    height              : $navTrainerImgSize;
    background-size     : contain;
    background-repeat   : no-repeat;
    background-position : center;
}
