$detailsContainerHeight : 60%;

.pokemon-details{
	position            : relative;
	width               : 100%;
	height              : 100%; 
	padding-top         : $navBarHeight;
	overflow            : hidden;
	
	@include clear-fix();

	.main-bg{
		position            : absolute;
		top                 : 0;
		left                : 0;
		width               : 100%;
		height              : 100%;
		background-size     : cover;
		background-repeat   : no-repeat;
		background-position : center; 
	}

	.pokemon-details-wrapper{
		position : relative;
		width    : 100%;
		height   : 100%;
		overflow : auto;
	}

	.fill{
		position : relative;
		width    : 100%;
		height   : 40%;
	}

	.pokemon-details-container{
		position   : relative;
		width      : 100%;
		min-height : $detailsContainerHeight;
		padding    : 95px 0 10px 0;

		&:before{
			content          : '';
			position         : absolute;
			top              : 0;
			left             : 0;
			width            : 100%;
			height           : 100%;
			background-color : rgba($white, 0.9);
		}
	}

	.pokemon-image{
		background-repeat   : no-repeat;
		background-size     : contain;
		background-position : center;
		position            : absolute;
		top                 : -75px;
		left                : 50%;
		width               : 80%;
		height              : 150px;

		@include transform(translateX(-50%));
	}

	.pokemon-basic-info{
		position   : relative;
		width      : 100%;
		text-align : center;

		@include clear-fix();

		.pokemon-info-toast{
			clear   : none;
			float   : initial;
			display :  inline-block;
			margin  : 0 5px;
		}
	}

	.pokemon-desc{
		position   : relative;
		width      : 100%;
		margin     : 20px 0 0 0;
		padding    : 0 20px;
		font-size  : $sizeXSmall;
		color      : $darkGray;
		word-wrap  : break-word;
		word-break : break-word;
	}
}

/* Media queries */
@media screen and (max-width:$mobileWidth){
	.pokemon-details .pokemon-details-container{
		padding: 10px 0px;
	}

	.pokemon-details .pokemon-image{
		position: relative;
		width: 100%;
		left: initial;
		top: initial;
		margin-bottom: 10px;
		@include transform(translateX(0));
	}
}