$imageSize : 100%;

.pokemon-info{
	position: relative;
	width: 100%;
	height: auto;
	@include clear-fix();

	.background-image{
		position: relative;
		width: 100%;
		padding-bottom: $imageSize;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		margin-bottom: 10px;
	}
}