$thirdWidth : 100 / 3;

.trainer{
	position         : relative;
	width            : 100%;
	height           : auto;
	background-color : $pinkHighlight;
	padding          : 20px;

	@include flex-block();
	@include justify-content(center);
	@include align-items(center);
	@include clear-fix();

	.trainer-image{
		position       : relative;
		width          : $thirdWidth+%;
		vertical-align : top; 
	}
}
