.shift-fade-up-appear {
  transform:translate3d(0,20%,0);
  opacity: 0;
}

.shift-fade-up-appear.shift-fade-up-appear-active {
  opacity: 1;
  transform:translate3d(0,0,0);
  transition: transform .25s ease-out, opacity .25s ease-out;
}

/* Slow */
.fade-in-appear {
  opacity: 0;
}

.fade-in-appear.fade-in-appear-active {
  opacity: 1;
  transition: opacity .4s ease-out;
}
