.form-field-wrapper{
	position: relative;
	width: 100%;
	margin-bottom: 5px;
	border-width:0 10px;
	border-style: solid;
	border-color: transparent;
}

.form-field-input{
	position: relative;
	width: 100%;
	height: 50px;
	background-color:$inputColor;
	outline: none;
	border-style: none;
    border-radius: 0;
    border:0;
    padding:10px;
    @include appearance();
    color:$darkGray;
    font-size:$sizeXSmall;

    &.form-with-icon-right{
    	padding-right:42px;
    }
}

.form-field-label{

}

.form-field-submit-button{
	position: relative;
	width: 100%;
	height: 50px;
	background-color:$submitColor;
	color:$white;
    font-size:$sizeXSmall;
    text-align: center;
    outline: none;
    border:0;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.form-password-visible-icon{
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 32px;
	background-image: url('../assets/password-visible.svg');
	background-position: center;
	background-size: 20px 20px;
	background-repeat: no-repeat;
}