.pokemon-info-toast{
	position: relative;
	padding:2px 5px;
	border-radius: 5px;
	text-align: center;
	font-size:$sizeXSmall;
	text-transform: uppercase;
	color:$white;
	margin-top:10px;
	float: left;
	clear:both;
}