.pokedex{
	position: relative;
	width: 100%;
	height: 100%;
	padding-right: 10px;
	overflow: hidden;
	@include clear-fix();

	.pokemon-info-container{
		position: relative;
		width: 40%;
		padding-bottom: 10px;
		padding-left:10px;
		padding-right:10px;
		float: left;
		height: 100%;
		@include flex-block();
		@include justify-content(center);
		@include align-items(center);
	}

	.list-container{
		float: left;
		width: 60%;
		margin-right: -100px;
		padding-right: 100px;
		@include box-sizing(content-box);
	}
}

@media screen and (max-width:$mobileWidth){
	.pokedex .pokemon-info-container{
		position: fixed;
		width: 50%;
	}
	.pokedex .list-container{
		float: right;
		width: 50%;
	}
}
