/* @font-sizes */

$sizeTitle        : 72px;
$sizeXTitle       : 48px;
$sizeSubTitle     : 36px;
$sizeSmallTitle   : 30px;
$sizeXLarge       : 28px;
$sizeLarge        : 24px;
$sizeXMedium      : 20px;
$sizeMedium       : 18px;
$sizeMedium-small : 16px;
$sizeSmall        : 14px;
$sizeSmallText    : 13px;
$sizeXSmall       : 12px;